@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background: #0a0a0a; /* No light mode */
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-fruktur: var(--font-fruktur);
  --font-protest-revolution: var(--font-protest-revolution);
  --font-display: var(--font-josefin-sans);
  --text-fluid-lg: clamp(1rem, 1cqi + 0.5rem, 4rem);
  --text-fluid-xl: clamp(1rem, 1.8cqi + 0.5rem, 4rem);
  --text-fluid-2xl: clamp(2rem, 4cqi + 0.5rem, 8rem);
  --text-fluid-3xl: clamp(2rem, 6cqi + 0.5rem, 12rem);
  --text-fluid-4xl: clamp(2rem, 8cqi + 0.5rem, 16rem);
  --text-fluid-9xl: clamp(3rem, 18cqi + 0.5rem, 30rem);
  --mx-fluid: clamp(0.5rem, 2cqi, 3rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
